---
version: 1
interactions:
- request:
    body: '{"name":"example_group","user_ids":"1105124   , 942660   , 1173788"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/groups
    method: POST
  response:
    body: '{"id":78899,"name":"example_group","allowed_ips":null,"admin_ids":"","notes":null,"user_ids":"942660,1105124,1173788","usernames":"sam.harrison.cs@gmail.com,mulesoft-user,example_user","ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"site_id":115123}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/groups/78899
    method: GET
  response:
    body: '{"id":78899,"name":"example_group","allowed_ips":null,"admin_ids":"","notes":null,"user_ids":"942660,1105124,1173788","usernames":"sam.harrison.cs@gmail.com,mulesoft-user,example_user","ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"site_id":115123}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
