---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/behaviors/272834
    method: GET
  response:
    body: '{"id":272834,"path":"Foo","behavior":"remote_server_sync","name":null,"description":null,"value":{"direction":"pull_from_server","keep_after_copy":"keep","remote_server_id":21226,"remote_sync_interval":111,"schedule":{"days_of_week":[0,1],"times_of_day":["12:00","13:00"]},"trigger":"custom_schedule","disabled":false,"manual":false,"delete_empty_folders":false},"disable_parent_folder_behavior":false,"recursive":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
