---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/Test%20Folder?with_priority_color=true
    method: GET
  response:
    body: '{"path":"Test Folder","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"baz":"qux","foo":"bar"},"display_name":"Test
      Folder","type":"directory","size":null,"created_at":"2024-06-28T16:33:50Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2531424,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-06-28T16:59:25Z","provided_mtime":"2010-01-01T01:02:03Z","crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false,"priority_color":"blue"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
