---
version: 1
interactions:
- request:
    body: '{"behavior":"serve_publicly","path":"Bar","value":{"key":"Bar","show_index":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/behaviors
    method: POST
  response:
    body: '{"id":272843,"path":"Bar","behavior":"serve_publicly","name":null,"description":null,"value":{"key":"Bar","show_index":true}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/behaviors/272843
    method: GET
  response:
    body: '{"id":272843,"path":"Bar","behavior":"serve_publicly","name":null,"description":null,"value":{"key":"Bar","show_index":true}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
