---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"provided_mtime":"2024-06-01T01:02:03Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/Test%20Folder/Subfolder/Bar
    method: POST
  response:
    body: '{"path":"Test Folder/Subfolder/Bar","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"Bar","type":"directory","size":null,"created_at":"2024-07-02T17:52:53Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-02T17:52:53Z","provided_mtime":"2024-06-01T01:02:03Z","crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"custom_metadata":{"key":"value"},"priority_color":"orange","provided_mtime":"2024-06-01T01:02:03Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/Test%20Folder/Subfolder/Bar
    method: PATCH
  response:
    body: '{"path":"Test Folder/Subfolder/Bar","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"key":"value"},"display_name":"Bar","type":"directory","size":null,"created_at":"2024-07-02T17:52:53Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-02T17:52:53Z","provided_mtime":"2024-06-01T01:02:03Z","crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false,"priority_color":"orange"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/Test%20Folder/Subfolder/Bar?with_priority_color=true
    method: GET
  response:
    body: '{"path":"Test Folder/Subfolder/Bar","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"key":"value"},"display_name":"Bar","type":"directory","size":null,"created_at":"2024-07-02T17:52:53Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-02T17:52:53Z","provided_mtime":"2024-06-01T01:02:03Z","crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false,"priority_color":"orange"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"custom_metadata":{"custom":"metadata"},"priority_color":"red","provided_mtime":"2020-06-01T01:02:03Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/Test%20Folder/Subfolder/Bar
    method: PATCH
  response:
    body: '{"path":"Test Folder/Subfolder/Bar","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"custom":"metadata"},"display_name":"Bar","type":"directory","size":null,"created_at":"2024-07-02T17:52:53Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-02T17:52:53Z","provided_mtime":"2020-06-01T01:02:03Z","crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false,"priority_color":"red"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"destination":"Test Folder/Bar Moved"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/move/Test%20Folder/Subfolder/Bar
    method: POST
  response:
    body: '{"status":"completed"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"custom_metadata":{"custom":"metadata"},"priority_color":"red","provided_mtime":"2020-06-01T01:02:03Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/Test%20Folder/Bar%20Moved
    method: PATCH
  response:
    body: '{"path":"Test Folder/Bar Moved","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"custom":"metadata"},"display_name":"Bar
      Moved","type":"directory","size":null,"created_at":"2024-07-02T17:52:53Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-02T17:52:53Z","provided_mtime":"2020-06-01T01:02:03Z","crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false,"priority_color":"red"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/Test%20Folder/Bar%20Moved?with_priority_color=true
    method: GET
  response:
    body: '{"path":"Test Folder/Bar Moved","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"custom":"metadata"},"display_name":"Bar
      Moved","type":"directory","size":null,"created_at":"2024-07-02T17:52:53Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-02T17:52:53Z","provided_mtime":"2020-06-01T01:02:03Z","crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false,"priority_color":"red"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
