---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"size":2}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/Test%20Folder/Subfolder/Bar.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-07-01T21:20:07Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-9386542186","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/115123/808a9ce5-83f6-4042-9bf9-d97149f645e7?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240701%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240701T210507Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=KnSqllS8wHvOZU0tg2YRoLCPPul3_l5yhOAcVOA8y9zl5dzmTNBtFAi0ol7sL_rFjg4EjlMype2Ck2tbEKyyUQ8yBMfqNYJq5kA8PK5cbswSFtjVMEbvFM5HTU377v1r\u0026X-Amz-Signature=7a65d7859a4c77f0809f7c6565c8bb4a8ef74acee6d305ac1271116fa77f526c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: yo
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/115123/808a9ce5-83f6-4042-9bf9-d97149f645e7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240701%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240701T210507Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=KnSqllS8wHvOZU0tg2YRoLCPPul3_l5yhOAcVOA8y9zl5dzmTNBtFAi0ol7sL_rFjg4EjlMype2Ck2tbEKyyUQ8yBMfqNYJq5kA8PK5cbswSFtjVMEbvFM5HTU377v1r&X-Amz-Signature=7a65d7859a4c77f0809f7c6565c8bb4a8ef74acee6d305ac1271116fa77f526c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"6d0007e52f7afb7d5a0650b0ffb8a4d1"'
      X-Amz-Request-Id:
      - ECA2SC7PM3AK80DK
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"6d0007e52f7afb7d5a0650b0ffb8a4d1","part":"1"}],"mkdir_parents":true,"ref":"put-9386542186","size":2}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/Test%20Folder/Subfolder/Bar.txt
    method: POST
  response:
    body: '{"path":"Test Folder/Subfolder/Bar.txt","created_by_id":1028730,"created_by_api_key_id":2598814,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"Bar.txt","type":"file","size":2,"created_at":"2024-07-01T21:05:08Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-01T21:05:08Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"custom_metadata":{"key":"value"},"priority_color":"orange","provided_mtime":"2024-06-01T01:02:03Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/Test%20Folder/Subfolder/Bar.txt
    method: PATCH
  response:
    body: '{"path":"Test Folder/Subfolder/Bar.txt","created_by_id":1028730,"created_by_api_key_id":2598814,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"key":"value"},"display_name":"Bar.txt","type":"file","size":2,"created_at":"2024-07-01T21:05:08Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-01T21:05:08Z","provided_mtime":"2024-06-01T01:02:03Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","priority_color":"orange"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/Test%20Folder/Subfolder/Bar.txt?with_priority_color=true
    method: GET
  response:
    body: '{"path":"Test Folder/Subfolder/Bar.txt","created_by_id":1028730,"created_by_api_key_id":2598814,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"key":"value"},"display_name":"Bar.txt","type":"file","size":2,"created_at":"2024-07-01T21:05:08Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-01T21:05:08Z","provided_mtime":"2024-06-01T01:02:03Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","priority_color":"orange"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"custom_metadata":{"custom":"metadata"},"priority_color":"red","provided_mtime":"2020-06-01T01:02:03Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/Test%20Folder/Subfolder/Bar.txt
    method: PATCH
  response:
    body: '{"path":"Test Folder/Subfolder/Bar.txt","created_by_id":1028730,"created_by_api_key_id":2598814,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"custom":"metadata"},"display_name":"Bar.txt","type":"file","size":2,"created_at":"2024-07-01T21:05:08Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-01T21:05:08Z","provided_mtime":"2020-06-01T01:02:03Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","priority_color":"red"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"destination":"Bar Moved.txt"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/move/Test%20Folder/Subfolder/Bar.txt
    method: POST
  response:
    body: '{"status":"completed"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"custom_metadata":{"custom":"metadata"},"priority_color":"red","provided_mtime":"2020-06-01T01:02:03Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/Bar%20Moved.txt
    method: PATCH
  response:
    body: '{"path":"Bar Moved.txt","created_by_id":1028730,"created_by_api_key_id":2598814,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"custom":"metadata"},"display_name":"Bar
      Moved.txt","type":"file","size":2,"created_at":"2024-07-01T21:05:08Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-01T21:05:08Z","provided_mtime":"2020-06-01T01:02:03Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","priority_color":"red"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/Bar%20Moved.txt?with_priority_color=true
    method: GET
  response:
    body: '{"path":"Bar Moved.txt","created_by_id":1028730,"created_by_api_key_id":2598814,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"custom":"metadata"},"display_name":"Bar
      Moved.txt","type":"file","size":2,"created_at":"2024-07-01T21:05:08Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-01T21:05:08Z","provided_mtime":"2020-06-01T01:02:03Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","priority_color":"red"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
