---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/Test%20Folder/Test%20File.txt?with_priority_color=true
    method: GET
  response:
    body: '{"path":"Test Folder/Test File.txt","created_by_id":1028730,"created_by_api_key_id":2598814,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{"baz":"qux","foo":"bar"},"display_name":"Test
      File.txt","type":"file","size":7,"created_at":"2024-07-01T20:18:47Z","last_modified_by_id":1028730,"last_modified_by_api_key_id":2598814,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-07-01T20:18:47Z","provided_mtime":"2010-01-01T01:02:03Z","crc32":"18088d37","md5":"360a716b9a46ece78e4f4a6d2d711d7e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","priority_color":"blue"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
