---
version: 1
interactions:
- request:
    body: '{"path":"","permission":"full","recursive":true,"username":"example_user"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/permissions
    method: POST
  response:
    body: '{"id":1791134,"path":"","user_id":1122264,"username":"example_user","group_id":null,"group_name":null,"permission":"full","recursive":true}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/permissions/1791134
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
