---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/site
    method: GET
  response:
    body: '{"id":12345,"name":"First Last","additional_text_file_types":null,"allowed_2fa_method_sms":true,"allowed_2fa_method_totp":true,"allowed_2fa_method_webauthn":true,"allowed_2fa_method_yubi":true,"allowed_2fa_method_email":false,"allowed_2fa_method_static":false,"allowed_2fa_method_bypass_for_ftp_sftp_dav":false,"admin_user_id":null,"admins_bypass_locked_subfolders":false,"allow_bundle_names":false,"allowed_countries":null,"allowed_ips":null,"always_mkdir_parents":false,"ask_about_overwrites":false,"bundle_activity_notifications":"never","bundle_expiration":30,"bundle_not_found_message":null,"bundle_password_required":false,"bundle_recipient_blacklist_domains":null,"bundle_recipient_blacklist_free_email_domains":false,"bundle_registration_notifications":"per_bundle_setting","bundle_require_registration":false,"bundle_require_share_recipient":false,"bundle_require_note":false,"bundle_upload_receipt_notifications":"never","bundle_watermark_attachment":null,"bundle_watermark_value":{},"uploads_via_email_authentication":false,"color2_left":"#2d2120","color2_link":"#f76e70","color2_text":"#c11f32","color2_top":"#201a1b","color2_top_text":"#ffffff","contact_name":"First Last","created_at":"2024-03-05T16:56:59-05:00","currency":"USD","custom_namespace":false,"dav_enabled":true,"dav_user_root_enabled":true,"days_to_retain_backups":30,"default_time_zone":null,"desktop_app":true,"desktop_app_session_ip_pinning":false,"desktop_app_session_lifetime":720,"mobile_app":true,"mobile_app_session_ip_pinning":false,"mobile_app_session_lifetime":720,"disallowed_countries":null,"disable_files_certificate_generation":false,"disable_notifications":false,"disable_password_reset":false,"domain":null,"domain_hsts_header":false,"domain_letsencrypt_chain":"default","email":"name@example.com","ftp_enabled":true,"reply_to_email":null,"non_sso_groups_allowed":true,"non_sso_users_allowed":true,"folder_permissions_groups_only":false,"hipaa":false,"icon128":null,"icon16":null,"icon32":null,"icon48":null,"immutable_files_set_at":null,"include_password_in_welcome_email":false,"language":"en","ldap_base_dn":null,"ldap_domain":null,"ldap_enabled":null,"ldap_group_action":null,"ldap_group_exclusion":null,"ldap_group_inclusion":null,"ldap_host":null,"ldap_host_2":null,"ldap_host_3":null,"ldap_port":null,"ldap_secure":null,"ldap_type":null,"ldap_user_action":null,"ldap_user_include_groups":null,"ldap_username":null,"ldap_username_field":null,"login_help_text":null,"logo":null,"login_page_background_image":null,"max_prior_passwords":10,"motd_text":null,"motd_use_for_ftp":true,"motd_use_for_sftp":true,"next_billing_amount":"0.0","next_billing_date":null,"office_integration_available":true,"office_integration_type":"only_office","oncehub_link":"https://go.oncehub.com/files","opt_out_global":false,"overdue":false,"password_min_length":10,"password_require_letter":true,"password_require_mixed":true,"password_require_number":true,"password_require_special":true,"password_require_unbreached":true,"password_requirements_apply_to_bundles":true,"password_validity_days":0,"phone":"+11112223333","pin_all_remote_servers_to_site_region":false,"prevent_root_permissions_for_non_site_admins":false,"protocol_access_groups_only":false,"require_2fa":false,"require_2fa_stop_time":null,"require_2fa_user_type":"all","require_logout_from_bundles_and_inboxes":false,"session_pinned_by_ip":false,"sftp_enabled":true,"sftp_host_key_type":"default","active_sftp_host_key_id":null,"sftp_insecure_ciphers":false,"sftp_insecure_diffie_hellman":false,"sftp_user_root_enabled":true,"sharing_enabled":true,"show_request_access_link":false,"site_footer":null,"site_header":null,"smtp_address":null,"smtp_authentication":null,"smtp_from":null,"smtp_port":null,"smtp_username":null,"session_expiry":null,"session_expiry_minutes":null,"ssl_required":true,"subdomain":"subdued","switch_to_plan_date":null,"tls_disabled":false,"trial_days_left":null,"trial_until":null,"use_dedicated_ips_for_smtp":false,"use_provided_modified_at":false,"user":{"id":98765,"username":"some-user","admin_group_ids":[],"allowed_ips":null,"attachments_permission":false,"api_keys_count":1,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billing_permission":false,"bypass_site_allowed_ips":false,"bypass_inactive_disable":false,"created_at":"2024-04-23T17:46:18-04:00","dav_permission":true,"disabled":false,"disabled_expired_or_inactive":false,"email":"","first_login_at":"2024-04-23T17:50:35-04:00","ftp_permission":true,"group_ids":"","header_text":"","language":"","last_login_at":"2024-06-25T15:18:39-04:00","last_web_login_at":"2024-06-25T15:18:39-04:00","last_ftp_login_at":null,"last_sftp_login_at":null,"last_dav_login_at":null,"last_desktop_login_at":null,"last_restapi_login_at":"2024-05-08T14:38:51-04:00","last_api_use_at":"2024-09-23T11:18:44-04:00","last_active_at":"2024-09-23T11:18:44-04:00","last_protocol_cipher":"TLSv1.2;ECDHE-RSA-AES256-GCM-SHA384","lockout_expires":null,"name":"","company":"","notes":"","notification_daily_send_time":null,"office_integration_enabled":true,"password_set_at":null,"password_validity_days":0,"public_keys_count":0,"receive_admin_alerts":true,"require_2fa":"use_system_setting","require_login_by":null,"active_2fa":false,"require_password_change":false,"password_expired":false,"readonly_site_admin":false,"restapi_permission":true,"self_managed":true,"sftp_permission":true,"site_admin":true,"skip_welcome_screen":false,"ssl_required":"use_system_setting","sso_strategy_id":null,"subscribe_to_newsletter":true,"externally_managed":false,"time_zone":"Central Time (US \u0026 Canada)","type_of_2fa":null,"type_of_2fa_for_display":null,"user_root":"","days_remaining_until_password_expire":null,"password_expire_at":null},"user_lockout":false,"user_lockout_lock_period":24,"user_lockout_tries":5,"user_lockout_within":6,"user_requests_enabled":true,"user_requests_notify_admins":false,"users_can_create_api_keys":true,"users_can_create_ssh_keys":true,"welcome_custom_text":null,"welcome_email_cc":null,"welcome_email_subject":null,"welcome_email_enabled":true,"welcome_screen":"enabled","windows_mode_ftp":false,"disable_users_from_inactivity_period_days":1,"group_admins_can_set_user_password":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
