---
version: 1
interactions:
- request:
    body: '{"behavior":"file_expiration","path":"Bar","value":14}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/behaviors
    method: POST
  response:
    body: '{"id":272843,"behavior":"file_expiration","path":"Bar","value":{"days_to_retain":14,"delete_empty_folders":false}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/behaviors/272843
    method: GET
  response:
    body: '{"id":272843,"behavior":"file_expiration","path":"Bar","value":{"days_to_retain":14,"delete_empty_folders":false}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
