---
version: 1
interactions:
- request:
    body: '{"behavior":"malware_scanning","path":"Malware","value":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/behaviors
    method: POST
  response:
    body: '{"id":300003,"path":"Malware","behavior":"malware_scanning","value":{}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/behaviors/300003
    method: GET
  response:
    body: '{"id":300003,"path":"Malware","behavior":"malware_scanning","value":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
