---
version: 1
interactions:
- request:
    body: '{"behavior":"storage_region","path":"Storage","value":"us-east-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/behaviors
    method: POST
  response:
    body: '{"id":300001,"path":"Storage","behavior":"storage_region","value":"us-east-1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/behaviors/300001
    method: GET
  response:
    body: '{"id":300001,"path":"Storage","behavior":"storage_region","value":"us-east-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
