---
page_title: "Files.com Provider"
description: |-
  The Files.com Terraform Provider provides convenient access to the Files.com API for managing your Files.com account.
---

# Files.com Provider

The [Files.com](https://www.files.com/) Terraform Provider provides convenient access to the Files.com API for managing your Files.com account.

You must configure the provider with the proper credentials before you can use it.

Use the navigation to the left to read about the available Resources and Data Sources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
